@media screen and (min-width: 1600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header {
    width: 100%;
    height: 150px;
    background-color: #a3c6fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contlogo {
    width: 30%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #photologo {
    height: 120px;
  }
  #nombreempresa {
    width: 70%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #textempresa {
    font-size: 30px;
    color: white;
  }

  #contmenu {
    width: 55%;
    height: 150px;
  }

  #contlogin {
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #containerform {
    width: 25%;
    height: 500px;
    background-color: #a3c6fa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  input[type="password"] {
    height: 50px;
    width: 95%;
    border-radius: 15px;
    color: #a09d9d;
    text-align: center;
    border: 2px inset #a09d9d;
    padding: 4px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: white;
  }

  input[type="submit"] {
    height: 50px;
    width: 95%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;

    font-size: 30px;
    background-color: #fe4824;
    color: white;
  }

  input[type="submit"]:hover {
    height: 50px;
    width: 95%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;
    font-size: 30px;
    background-color: white;
    color: #fe4824;
  }

  #mainlogin {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/diana2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #abtn {
    text-decoration: none;
    list-style: none;
  }
  #abtn:visited {
    color: grey;
  }

  footer {
    height: 120px;
    background-color: #a3c6fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contCopyright {
    width: 70%;
    height: 120px;
  }

  #redessociales {
    width: 30%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #redsocial1 {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 7%;
  }

  #redsocial2 {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 7%;
  }
  #redsocial3 {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 7%;
  }

  #conttextocopy {
    width: 15%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #copy {
    height: 70px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #copyright {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  #facebook,
  #x,
  #instagram {
    width: 40px;
    height: 40px;
  }
  #nav {
    border-top: 3px solid white;
    width: 100%;
    background-color: #a3c6fa;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3c6fa;
  }
  #btnHome,
  #btnLogin,
  #btnIns {
    margin: 10px;
    height: 50px;
    width: 10%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #btnHome:hover,
  #btnLogin:hover,
  #btnIns:hover {
    margin: 10px;
    height: 50px;
    width: 10%;
    background-color: #a3c6fa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
  }
}
@media screen and (max-width: 480px) {
  * {
    margin: 0;
  }
  header {
    width: 100%;
    background-color: #a3c6fa;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contlogo {
    width: 79%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contmenu {
    width: 1%;
    height: 100px;
  }
  #contlogin {
    width: 30%;
    height: 100px;
  }
  #logo {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nombreempresa {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #photologo {
    height: 50px;
  }
  #textempresa {
    text-align: center;
    color: white;
  }
  #login {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
  a:visited {
    color: white;
  }
  #nav {
    width: 100%;

    height: 60px;
  }
  #conttitulotorneo {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #titulotorneo {
    text-align: center;
    font-weight: bold;
  }
  main {
    height: 570px;
  }
  footer {
    height: 90px;
    background-color: #a3c6fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contCopyright {
    width: 50%;
    height: 90px;
  }

  #redessociales {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #redsocial1 {
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 7%;
  }

  #redsocial2 {
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 7%;
  }
  #redsocial3 {
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 7%;
  }

  #facebook,
  #x,
  #instagram {
    width: 30px;
    height: 30px;
  }
  #contCopyright {
    width: 50%;
    height: 90px;
  }
  #conttextocopy {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #containerform {
    width: 65%;
    height: 300px;
    background-color: #a3c6fa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  input[type="password"] {
    height: 30px;
    width: 170px;
    border-radius: 15px;
    color: #a09d9d;
    text-align: center;
    border: 2px inset #a09d9d;
    padding: 4px;
    margin-bottom: 30px;
    font-size: 25px;
    background-color: white;
  }

  input[type="submit"] {
    height: 40px;
    width: 100%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;

    font-size: 20px;
    background-color: #fe4824;
    color: white;
  }

  input[type="submit"]:hover {
    height: 40px;
    width: 100%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;
    font-size: 20px;
    background-color: white;
    color: #fe4824;
  }

  #mainlogin {
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/diana2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #nav {
    border-top: 3px solid white;
    width: 100%;
    background-color: #a3c6fa;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3c6fa;
  }
  #btnHome,
  #btnLogin,
  #btnIns {
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #a3c6fa;
  }
  #btnHome:hover,
  #btnLogin:hover,
  #btnIns:hover {
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: #a3c6fa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
  a:visited {
    color: white;
  }
  #abtn:visited {
    color: grey;
  }
}
