@import url("./header.css");
@import url("./footer.css");
@import url("./nav.css");


@media screen and (min-width: 1600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  #containerform {
    width: 25%;
    height: 500px;
    background-color: #a3c6fa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  input[type="password"] {
    height: 50px;
    width: 95%;
    border-radius: 15px;
    color: #a09d9d;
    text-align: center;
    border: 2px inset #a09d9d;
    padding: 4px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: white;
  }

  input[type="submit"] {
    height: 50px;
    width: 95%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;

    font-size: 30px;
    background-color: #fe4824;
    color: white;
  }

  input[type="submit"]:hover {
    height: 50px;
    width: 95%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;
    font-size: 30px;
    background-color: white;
    color: #fe4824;
  }

  #mainlogin {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/diana2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
 
}
@media screen and (max-width: 480px) {
  * {
    margin: 0;
  }


  #conttitulotorneo {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #titulotorneo {
    text-align: center;
    font-weight: bold;
  }
  main {
    height: 570px;
  }
  

  #containerform {
    width: 65%;
    height: 300px;
    background-color: #a3c6fa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  input[type="password"] {
    height: 30px;
    width: 170px;
    border-radius: 15px;
    color: #a09d9d;
    text-align: center;
    border: 2px inset #a09d9d;
    padding: 4px;
    margin-bottom: 30px;
    font-size: 25px;
    background-color: white;
  }

  input[type="submit"] {
    height: 40px;
    width: 100%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;

    font-size: 20px;
    background-color: #fe4824;
    color: white;
  }

  input[type="submit"]:hover {
    height: 40px;
    width: 100%;
    border-radius: 25px;
    border: 2px inset #a09d9d;
    padding: 4px;
    font-size: 20px;
    background-color: white;
    color: #fe4824;
  }

  #mainlogin {
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/diana2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #nav {
    border-top: 3px solid white;
    width: 100%;
    background-color: #a3c6fa;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3c6fa;
    display: none;
  }
  #btnHome,
  #btnLogin,
  #btnIns,
  #btnClas,
  #btnElim,
  #btnWin {
    margin:10px;
    height:30px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:#A3C6FA;
    font-size: 8px;
    text-align: center;
    padding: 3px;
  }
  #btnHome:hover,
  #btnLogin:hover,
  #btnIns:hover,#btnClas:hover,#btnElim:hover,#btnWin:hover {
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: #a3c6fa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 3px;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
  a:visited {
    color: white;
  }
  #abtn:visited {
    color: grey;
  }
  #contlogin{
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
}
