
@import url("./header.css");
@import url("./footer.css");
@import url("./nav.css");




@media screen and (min-width: 1600px) {
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#contimagenwelcome{
    width: 100%;
    height: 400px;
    
}
#imagenwelcome{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#conttextowelcome{
    width: 100%;
    height: 280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
#textowelcome{
width: 50%;
display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
    height: 300px;
   
}
#imagendianawelcome{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#pwelcome{
    font-size: 40px;
}
#contmenu{
width: 75%;
height: 150px;


}

#contlogin{
width: 15%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;

}
main{
    height: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}


    #login{
       
        font-size: 30px;
        font-weight: bold;
        color: white;
       
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        
        

    }

    #conttitulotorneo{
       
        height: 150px;
        background-color:#A3C6FA;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    #titulotorneo{
    font-size: 70px;
    color:white;
    }
 
  

}
@media screen and (max-width: 480px) {
    *{
        margin:0;
    }

      a{
        text-decoration:none;
        list-style: none;
    }
    a:visited{
        color:white;
    }
   
    #conttitulotorneo{
        height: 50px;
        background-color:#A3C6FA;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #titulotorneo{
        text-align: center;
        font-weight: bold;
        color:white
    }
    main{
        height: 570px;
        
    }
   

#contimagenwelcome{
    height: 150px;
}
#imagenwelcome{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#conttextowelcome{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#textowelcome{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pwelcome{
    
    text-align: center;
    font-size: 10px;
}
#imagendianawelcome{
    width: 100%;
    height: 200px;
}
}